#HeaderLogo path.mj-logo-character { fill: #ad2e39;
}
#HeaderLogo svg { 
display: block; 
width: 100%; 
height: 50px; 
margin-top: 3.5%;
padding-bottom: 10px; 
align-content: center;
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    background:black;
    position:relative;
}
a{
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}
fieldset{
    border: none;
    position: relative;
}
form{
    position: relative;
}
option{
    color: black;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    
    border: black;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
}
select{
    color: white;
    width: 20em;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
}
input{
    background: rgba(255,255,255,.5);
    border: none;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
legend {
    color: #ad2e39;
    margin-bottom: 430px;
    position: absolute;
    font-size: 57px;
    font-weight: bold;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 2.9em;
    text-transform: uppercase;
    text-shadow: white 0px 0px 5px
}
label, input, textarea{
    padding: 1%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

input, textarea{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
    margin-top: 5%;
    margin-bottom: 10%;
    height: 35%;
    width: 25em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
textarea{
    color: white;
    height: 21em;
}
i{
    transform: translateY(20px) scale(1);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
i:active{
    color: white;
}
i:hover{
    transform: translateY(20px) scale(1.8);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.height{
    width: 25em;
    height: 31.36px;
}
.checkbox{
    box-shadow: none;
    margin-right: -1em;
}
.image{
    position: relative;
    margin: auto;
}
.image::before{
margin: 1px auto;
    width: 1230px;
    height: 812px;
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-image: url('https://blisterreview.com/wp-content/uploads/2021/06/71-bike-vs-ski-thumb-02.png');
    opacity: 0.4;
}
.type_box{
    display: flex;
    opacity: 1;
    align-items: baseline;
    justify-content: center;
    font-size: 9em;
    color: #ad2e39;
    width: auto;
    height: 4.5em;
}
.type{
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.info_box{
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    color: #ad2e39;
    width: auto;
    height: 51em;
}

.center_box{
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20%;
    background-color: #ad2e39;
    margin: 10%;
    padding: 2%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
}

.button{
    margin: auto;
    font-size: 18px;
    color: white;
    width: 100px;
    height: 37px;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.8;
    border: black;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
      
}
.button:hover {
    background-color: #39ad2e
}
 
.button:active {
  background-color: #39ad2e;
  transform: translateY(4px);
}
.option_title{
    text-align: center;
    color: #ad2e39;
    font-weight: bold;
}
.service_a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bolder;
    text-transform: initial;
    font-size: 20px;
}
.service_box{
    display: none;
    opacity: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sel_box{
    display: flex;
    position: relative;
    height: 38em;
    justify-content: center;
    background-color: #ad2e39;
    margin: 6.4em;
    padding: 4%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
    width: 31em;
    flex-direction: column;
    padding: 2em;
}
.input_align{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    height: 3em;
}
.qty{
    width: 50px;
    height: auto;
}
.service_legend{
    bottom: 5.8em;
}
.tenA{
    margin-left: -5px;
}
.ski_snow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1em;
    box-shadow: none;
    align-items: flex-end;
    width: 100%;
}
.radio{
    width: 20px;
    height: 20px;
    box-shadow: none;
    margin: 0px 0em 0px -3em;
}
.skier_type{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    text-shadow: none;
    width: 101%;
    margin-left: -1px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.skier_type a{
    width: 30em;
}
.boot_info{
    height: 470px;
}
.boot_legend{
    bottom: 4.3em;
}
.stance{
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 2px #555;
}
.stance_flex{
    justify-content: space-evenly;
}
.fade_out{
    position: relative;
    transition: opacity 1.5s ease-out;
     opacity: 0;
}
.fade_in{
    position: relative;
     opacity: 1;
    transition: opacity 1.5s ease;
}
